<h2 mat-dialog-title>Add Goal</h2>
<mat-dialog-content>
  <form [formGroup]="createGoalForm" (ngSubmit)="onSubmit()" #gameForm="ngForm">
    @if(data.isOpponentGoal) {
    <mat-form-field [floatLabel]="'auto'" class="w-full">
      <mat-label>Scorers First Name</mat-label>
      <input matInput formControlName="opponentScorerFirstName" />
    </mat-form-field>
    <mat-form-field [floatLabel]="'auto'" class="w-full">
      <mat-label>Scorers Surname</mat-label>
      <input matInput formControlName="opponentScorerSurname" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Goal Type</mat-label>
      <mat-select [formControl]="type">
        <mat-select-trigger> Goal Type </mat-select-trigger>
        <mat-option value="even">Even</mat-option>
        <mat-option value="short">Short Handed</mat-option>
        <mat-option value="power">Power Play</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="flex flex-row justify-around">
      <mat-form-field>
        <mat-label>Minute</mat-label>
        <input matInput formControlName="minute" />
      </mat-form-field>

      <mat-form-field class="">
        <mat-label>Second</mat-label>
        <input matInput formControlName="second" />
      </mat-form-field>
    </div>
    } @else {
    <mat-form-field class="w-full">
      <mat-label>Goal Scorer</mat-label>
      <mat-select [formControl]="scoredBy">
        <mat-select-trigger>
          {{ getDisplayText(this.createGoalForm.value.scoredBy) }}
        </mat-select-trigger>
        @for (player of data.players; track $index) {
        <mat-option [value]="player.id"
          >{{ player.firstName.toTitleCase() }}
          {{ player.surname.toTitleCase() }}</mat-option
        >
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>First Assist</mat-label>
      <mat-select [formControl]="assist1">
        <mat-select-trigger>
          {{ getDisplayText(this.createGoalForm.value.assist1) }}
        </mat-select-trigger>
        @for (player of data.players; track $index) {
        <mat-option [value]="player.id"
          >{{ player.firstName.toTitleCase() }}
          {{ player.surname.toTitleCase() }}</mat-option
        >
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Second Assist</mat-label>
      <mat-select [formControl]="assist2">
        <mat-select-trigger>
          {{ getDisplayText(this.createGoalForm.value.assist2) }}
        </mat-select-trigger>
        @for (player of data.players; track $index) {
        <mat-option [value]="player.id"
          >{{ player.firstName.toTitleCase() }}
          {{ player.surname.toTitleCase() }}</mat-option
        >
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Goal Type</mat-label>
      <mat-select [formControl]="type">
        <mat-select-trigger> Goal Type </mat-select-trigger>
        <mat-option value="even">Even</mat-option>
        <mat-option value="short">Short Handed</mat-option>
        <mat-option value="power">Power Play</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="flex flex-row justify-around">
      <mat-form-field class="">
        <mat-label>Minute</mat-label>
        <input matInput formControlName="minute" />
      </mat-form-field>

      <mat-form-field class="">
        <mat-label>Second</mat-label>
        <input matInput formControlName="second" />
      </mat-form-field>
    </div>
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button type="button" (click)="submitForm(gameForm)">
    Create Game
  </button>
  <button mat-button type="button" (click)="onNoClick()">No Thanks</button>
</mat-dialog-actions>
