<div
  class="rounded-md border border-black grid grid-rows-1 grid-cols-2 mb-2"
  [ngClass]="{
  'bg-green-200': !goal?.isOpponentGoal,
  'bg-red-200': goal?.isOpponentGoal,
}"
>
  <div class="p-4 content-center">
    <span class="text-lg">{{ goal?.scoredBy?.toTitleCase() }}</span>
    <div class="text-sm text-gray-500 flex gap-2">
      @if(goal?.assist1 && !goal?.assist2){
      <span>{{ goal?.assist1?.toTitleCase() }}</span>
      } @else if(goal?.assist1 && goal?.assist2) {
      <span>{{ goal?.assist1?.toTitleCase() }},</span>
      <span>{{ goal?.assist2?.toTitleCase() }}</span>
      }
    </div>
  </div>
  <div class="p-4 flex flex-row gap-2 justify-center">
    <div class="rounded-md bg-gray-200 p-4 flex flex-col text-center min-w-28">
      <span class="text-black font-bold"
        >{{ goal?.scoreTracker?.goalsScored }}-{{
          goal?.scoreTracker?.goalsConceeded
        }}
        {{ goal?.scoreTracker?.leadingTeam }}</span
      >
      <span>Score</span>
    </div>
    <div class="rounded-md bg-gray-200 p-4 flex flex-col text-center min-w-28">
      <span class="text-black font-bold">{{
        FormatDurationFromSeconds(goal?.time!)
      }}</span>
      <span>Time</span>
    </div>
  </div>
</div>
