<h2 mat-dialog-title>Add player to team</h2>
<mat-dialog-content>
  <form
    [formGroup]="addPlayerForm"
    (ngSubmit)="onSubmit()"
    #playerForm="ngForm"
  >
    <mat-form-field class="w-full">
      <mat-label>Player</mat-label>
      <input
        type="text"
        class="w-48"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        formControlName="playerId"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (player of filteredOptions | async; track $index) {
        <mat-option [value]="player.id">
          {{ player.firstName.toTitleCase() }}
          {{ player.surname.toTitleCase() }}
        </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Number</mat-label>
      <input
        type="number"
        class="w-48"
        aria-label="Number"
        matInput
        formControlName="number"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button type="button" (click)="submitForm(playerForm)">
    Add Player
  </button>
  <button mat-button type="button" (click)="onNoClick()">No Thanks</button>
</mat-dialog-actions>
