<h4>Scoring</h4>
<span class="text-lg text-gray-500 font-bold"> 1st Period</span>

@if(!isLoading) { @for(goal of sortedFirstPeriodGoals; track $index) {
<goal-panel [goal]="goal"></goal-panel>
}@empty {
<p>no goals to show</p>
} }

<span class="text-lg text-gray-500 font-bold"> 2nd Period</span>

@if(!isLoading) { @for(goal of sortedSecondPeriodGoals; track $index) {
<goal-panel [goal]="goal"></goal-panel>
}@empty {
<p>no goals to show</p>
} }

<span class="text-lg text-gray-500 font-bold"> 3rd Period</span>

@if(!isLoading) { @for(goal of sortedThirdPeriodGoals; track $index) {
<goal-panel [goal]="goal"></goal-panel>
}@empty {
<p>no goals to show</p>
} }
